.btn{
  margin-top: 20px;
}

h4{
  font-family: 'Nunito', sans-serif;
  color: black;
  border-color: grey;
  font-weight: 600;
  font-size: 1.8rem;
}
.layout{
  background-image: url('/assets/img/fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

}
